# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
todomvc-xfm.cfn.yml