<!doctype html>
<html data-framework="vue">
<head>
    <meta charset="utf-8">
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <style> [v-cloak] {
        display: none;
    } </style>
</head>
<body>
<section class="todoapp" v-cloak>
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="task"
               @keyup.enter="addTodo">
    </header>
    <section class="main" v-show="todos && todos.length > 0">
        <ul class="todo-list">
            <li class="todo" v-for="todo in todos">
                <div class="view">
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
            </li>
        </ul>
    </section>
</section>
<footer class="info">
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script src="node_modules/axios/dist/axios.min.js"></script>
<script src="node_modules/todomvc-common/base.js"></script>
<script src="node_modules/director/build/director.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
<script src="js/routes.js"></script>
</body>
</html>